.container {
	padding: 0 20px;
	width: 100%;
	margin: 0 auto;

	@media (min-width: 320px) {
		width: 320px;
		padding: 0 20px;
	}

	@media (min-width: 768px) {
		width: 768px;
		padding: 0 32px;
	}

	@media (min-width: 1024px) {
		width: 1024px;
		padding: 0 32px;
	}
}
