.toggle__wrapper {
  position: absolute;
  bottom: 9px;
  right: 20px;
  line-height: 29px;
  align-items: center;
}

body.dark__theme {
	background-color: #1a1818;;
}

.toggle__switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 26px;
}

.toggle__switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.toggle__slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($color: #f7efef, $alpha: 0.1);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 26px;
}

.toggle__slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 3px;
	bottom: 3px;
	background-color: $orange-font;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
}

input:checked + .toggle__slider {
	background-color: rgba($color: #000000, $alpha: 0.5);
}

input:focus + .toggle__slider {
	box-shadow: 0 0 4px $orange-font;
}

input:checked + .toggle__slider:before {
	-webkit-transform: translateX(22px);
	-ms-transform: translateX(22px);
	transform: translateX(22px);
}
