* {
  padding: 0;
  margin: 0;
}

body {
  font-family: $font;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a {
  text-decoration: none;
}
