.container-header {
        margin: 0 auto;
        background: $gray;
        height: 230px;
        width: 100%;
        max-width: 100%;
        background-image:  linear-gradient(rgba(0 0 0 / 0.56), rgba(0 0 0 / 0.56)), 
        url('../images/header-home-bg-mobile.webp');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
.header-nav {
    display: flex;
    height: 118px;
    justify-content: space-between;
    align-items: center;
}
.header-nav__logo {
        margin-top: 40px;
        margin-left: 20px;
        margin-bottom: 51px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        text-decoration: none;
    }

.header-logo {
  stroke: $white;
  fill: none;
  outline: none;
  transition: stroke $transition;
  transition: color $transition;
  &:hover,
  &:focus {
    stroke: $orange-font;
    fill: none;
    color: $orange-font;
  }
}

.header-nav__name {
        display: none;
    }
.header-nav-items {
    display: flex;
    justify-self: flex-end;
}
.header-nav-items__page {
    text-decoration: none;
    list-style: none;
    display: flex;
    padding: 0px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    align-items: center;
    color: $white;
    text-transform: uppercase;
    gap: 39px;
    margin-right: 20px;
    justify-content: flex-end;
    }
.header-nav-items__link {
    position: relative;
    display: flex;
    align-items: center;
}
.header-nav-items__link:hover,
:focus {
    color: $orange-font;
}
.header-nav-items__link--active::after {
    content: "";
    position: absolute;
    height: 3px;
    background: $red;
    top: 14px;
    left: 0;
    right: 0;
    }
.header-search {
    height: 112px;
    display: flex;
    justify-content: center;
}
.header-search__form {
    height: 20px;
    display: flex;
    width: 280px;
    border-bottom: 0.5px solid $white;
    margin: 0;
    }
.header-search__input {
    background-color: inherit;
    border: none;
    width: 264px;
    caret-color: $orange-font;
}
.header-search__input:focus,
    :hover {
    outline: none;
    }
.header-search__input::placeholder {
        color: white;
        font-size: 14px;
    }
.header-search__btn {
    height: 12px;
    width: 12px;
    background-color: inherit;
    border: none;
    justify-content: flex-end;
    cursor: pointer;
    &:focus,
    :hover{
        stroke: $orange-font;
        fill: none;
    }
    }
.header-search__icon {
    display: block;
    stroke: $white;
    fill: none;
    outline: none;
    }

    @media screen and (min-width: $mobile) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .container-header {
        background-image:  linear-gradient(rgba(0 0 0 / 0.56), rgba(0 0 0 / 0.56)),
        url('../images/header-home-bg-mobile@2.webp');
    }
  }

@media screen and (min-width: $tablet) { 
    .container-header {
        height: 216px;
        background-image:  linear-gradient(rgba(0 0 0 / 0.56), rgba(0 0 0 / 0.56)),
        url('../images/header-home-bg-tablet.webp');
}
.header-nav {
    display: flex;
    height: 116px;
}

.header-nav__name {
    display: inline-block;
    margin: 0px;
    color: $white;
    font-size: 30px;
    font-weight: 500;
    line-height: 35.16px;
    align-items: center;
    &:hover,
    &:focus {
    color: $orange-font;

  }
}
.header-nav__svg {
    margin-right: 10px;
}
}

@media screen and (min-width: $tablet) and (min-device-pixel-ratio: 2),
  screen and (min-width: $tablet) and (min-resolution: 192dpi),
  screen and (min-width: $tablet) and (min-resolution: 2dppx) {
    .container-header {
    background-image:  linear-gradient(rgba(0 0 0 / 0.56), rgba(0 0 0 / 0.56)),
    url('../images/header-home-bg-tablet@2.webp');
  }
  }

@media screen and (min-width: $desktop) {
.container-header {
    background-image:  linear-gradient(rgba(0 0 0 / 0.56), rgba(0 0 0 / 0.56)), 
    url('../images/header-home-bg.webp');
}
.header-nav__logo {
    margin-top: 45px;
    margin-left: 32px;
    margin-bottom: 41px;
}
.header-nav-items {
    align-items: center;
}
.header-nav-items__page {
    margin-right: 32px;
}
.header-search {
    height: 100px;
}
.header-search__form {
    width: 394px;
}
.header-search__input {
    width: 382px;
}
}
@media screen and (min-width: $desktop) and (min-device-pixel-ratio: 2),
  screen and (min-width: $desktop) and (min-resolution: 192dpi),
  screen and (min-width: $desktop) and (min-resolution: 2dppx) {
    .container-header {
        background-image:  linear-gradient(rgba(0 0 0 / 0.56), rgba(0 0 0 / 0.56)), 
        url('../images/header-home-bg@2.webp');
    }
  }