.section--library {
  margin: 0 auto;
  background: $gray;
  background-image: url('../images/library/library-m.webp'); /* fallback */
  background-image: linear-gradient(rgba(0 0 0 / 0.56), rgba(0 0 0 / 0.56)),
    url('../images/library/library-m.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.header--library {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.header__menu {
  padding-top: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 39px;
}
.logo__link {
  stroke: $white;
  fill: none;
  outline: none;
  transition: stroke $transition;
  &:hover,
  &:focus {
    stroke: $orange-font;
    fill: none;
  }
}
.logo__text {
  display: none;
}
.nav__link {
  color: $white;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  transition: color $transition;
  &:hover,
  &:focus {
    outline: none;
    color: $orange-font;
    // &::after {
    //   background: $orange-font;
    // }
  }
}
.nav__item {
  position: relative;
}
.nav__link--active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -3px;
  background: $red;
}
.buttons__list {
  padding-block: 60px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.buttons__button {
  color: $white;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  padding-block: 14px;
  width: 130px;
  background: none;
  border-radius: 5px;
  border: 1px solid $white;
  cursor: pointer;
  transition: background-color $transition, box-shadow $transition;
  &:hover,
  &:focus {
    background: $orange-button;
    border: none;
    outline: none;
    box-shadow: (
      0px 4px 4px rgba(0 0 0 / 0.25),
      0px 8px 43px rgba(255 107 1 / 0.6)
    );
  }
}

//Background for Retina display
@media screen and (min-width: $mobile) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section--library {
    background-image: linear-gradient(rgba(0 0 0 / 0.56), rgba(0 0 0 / 0.56)),
      url('../images/library/library-m@2x.webp');
  }
}

//TABLET STYLES
@media screen and (min-width: $tablet) {
  .section--library {
    background-image: url('../images/library/library-t.webp'); /* fallback */
    background-image: linear-gradient(rgba(0 0 0 / 0.56), rgba(0 0 0 / 0.56)),
      url('../images/library/library-t.webp');
  }
  .logo__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $white;
    transition: color $transition, stroke $transition;
    &:hover,
    &:focus {
      color: $orange-font;
    }
  }
  .logo__text {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
  }
}
//Background for Retina display
@media screen and (min-width: $tablet) and (min-device-pixel-ratio: 2),
  screen and (min-width: $tablet) and (min-resolution: 192dpi),
  screen and (min-width: $tablet) and (min-resolution: 2dppx) {
  .section--library {
    background-image: linear-gradient(rgba(0 0 0 / 0.56), rgba(0 0 0 / 0.56)),
      url('../images/library/library-t@2x.webp');
  }
}

//DESKTOP STYLES
@media screen and (min-width: $desktop) {
  .section--library {
    max-width: 1600px;
    background-image: url('../images/library/library-d.webp'); /* fallback */
    background-image: linear-gradient(rgba(0 0 0 / 0.56), rgba(0 0 0 / 0.56)),
      url('../images/library/library-d.webp');
  }
  .header--library {
    max-width: 1280px;
  }
}
//Background for Retina display
@media screen and (min-width: $desktop) and (min-device-pixel-ratio: 2),
  screen and (min-width: $desktop) and (min-resolution: 192dpi),
  screen and (min-width: $desktop) and (min-resolution: 2dppx) {
  .section--library {
    background-image: linear-gradient(rgba(0 0 0 / 0.56), rgba(0 0 0 / 0.56)),
      url('../images/library/library-d@2x.webp');
  }
}
