.films-cards-set {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-inline: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding-block: 60px;
    padding-inline: 32px;
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    gap: 16px;
    justify-content: flex-start;
  }
}

.film-card {
  flex-basis: 100%;
  height: 438px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 2);
    height: 495px;
  }
  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - (16px * 2)) / 3);
    height: 634px;
    margin-bottom: 16px;
  }

  @media screen and (max-width: 1279px) {
    max-width: 336px;
  }
}
