.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  overflow: hidden;
  height: 26px;
  padding: 0;
  font-size: 0;
  line-height: 26px;
  white-space: nowrap;
  font-weight: normal;
  border: none;
  background: #f7f7f7;
  border-radius: 5px;
  margin: 4px;
}

.tui-pagination .tui-page-btn {
  display: inline-block;
  position: relative;
  width: 28px;
  padding: 8px 0 6px;
  margin-left: 0;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-decoration: none;
  vertical-align: middle;
  border: none;
  //   border-width: 1px 0;
}
.tui-pagination .tui-page-btn:hover {
  background-color: #f4f4f4;
  border-radius: 5px;
}
.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #fff;
  border-radius: 5px;
  background: #ff6b01;
  border-color: #ff6b01;
  cursor: default;
}
.tui-pagination .tui-is-selected:hover {
  background-color: #ff6b01;
}
.tui-pagination .tui-first-child,
.tui-pagination .tui-prev-is-ellip {
  border-left: none;
  //   display: none;
}

.tui-pagination .tui-last-child,
.tui-pagination .tui-next-is-ellip {
  border-right: none;
  //   display: none;
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left: none;
}

.tui-pagination .tui-last-child.tui-is-selected {
  border-right: none;
}
.tui-pagination .tui-prev-is-ellip {
  border-right: 0;
  display: none;
}

.tui-pagination .tui-next-is-ellip {
  border-left: 0;
  display: none;
}

.tui-page-btn .tui-first {
  display: none;
}
// .tui-pagination .tui-next + .tui-last {
//   display: none;
// }
.tui-pagination .tui-first {
  display: none;
}
.tui-pagination .tui-last {
  display: none;
}
.tui-pagination .tui-next {
  margin: 0;
  height: 29.95px;
  margin-left: 3px;
}
.tui-pagination .tui-prev {
  margin: 0;
  height: 29.95px;
  margin-right: 3px;
}
