$font: 'Roboto';
$white: #ffffff;
$black: #000000;
$gray: #8c8c8c;
$red: #ff001b;
$orange-font: #ff6b08;
$orange-button: #ff6b01;
$background: #e5e5e5;
$footer: #f7f7f7;

//Punkty przerwania
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
