<div class="menu is-hidden">
  <div class="auth-menu menu-is-hidden">
    <p class="auth-menu__header">Welcome guest</p>
    <button class="auth-menu__signup-button">Sign Up Now</button>
    <p class="auth-menu__text">Or</p>
    <button class="auth-menu__login-button">Login Now</button>
  </div>
  <div class="auth-menu-logout menu-is-hidden">
    <div class="auth-menu-logout__header-wrapper">
      <p class="auth-menu-logout__header">Welcome</p>
      <p class="auth-menu-logout__user-name">User</p>
    </div>
    <button class="auth-menu-logout__logout-button">Logout</button>
  </div>
</div>
