<header class="section">
  <div class="container-header">
    <div class="header-nav">
      <div class="header-nav__logo">
        <a href="index.html" class="header-logo">
          <svg class="header-nav__svg" width="24" height="24">
            <use href="./images/icons.svg#icon-film"></use>
          </svg>
          <span class="header-nav__name">Filmoteka</span>
        </a>
      </div>
      <div class="header-nav-items">
        <ul class="header-nav-items__page">
          <li>
            <a
              href="index.html"
              class="header-nav-items__link header-nav-items__link--active"
              >Home</a
            >
          </li>
          <li>
            <a href="library.html" class="header-nav-items__link">My library</a>
          </li>
          <li>
            <a href="" class="header-nav-items__link">
              <svg class="user-icon" width="14" height="14">
                <use href="./images/icons.svg#icon-user"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-search">
      <form class="header-search__form" id="search-form">
        <input
          class="header-search__input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Movie search"
          data-input
        />
        <button type="submit" class="header-search__btn" data-search>
          <svg class="header-search__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <p class="header-search__text" role="alert" id="wrongSearch"></p>
    </div>

    <!-- Dark Mode -->
    <div class="toggle__wrapper">
			<span id="toggle__icon">
      
				<i class="fa-regular fa-sun fa-lg" style="color: #f6ee09;"></i>
				<label class="toggle__switch">
					<input type="checkbox" id="toggle__checkbox">
					<span class="toggle__slider"></span>
				  </label>
			</span>
		</div>


  </div>
</header>
